<!DOCTYPE site PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<site id='root'>

 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
 <!-- Site template                                                -->
 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
 <template id="template.default">

<html>
 <meta>
  <!-- Stylesheets -->
  <link href="%pathto:root;web.css" rel="stylesheet" type="text/css"/>
  <title>VLFeat - %path;</title>
  %pagestyle;

  <!-- Scripts-->
  %pagescript;
 </meta>

 <!-- Body Start -->
 <body>
  <div id="header">
   <!-- Google CSE Search Box Begins -->
   <form action="http://www.vlfeat.org/search.html" id="cse-search-box">
    <div>
     <input type="hidden" name="cx" value="003215582122030917471:oq23albfeam" />
     <input type="hidden" name="cof" value="FORID:11" />
     <input type="hidden" name="ie" value="UTF-8" />
     <input type="text" name="q" size="31" />
     <input type="submit" name="sa" value="Search" />
    </div>
   </form>
   <script type="text/javascript"
   src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
   <!-- Google CSE Search Box Ends -->
   <h1><span id="vlfeat">VLFeat</span><span id="dotorg">.org</span></h1>
  </div>
  <div id="headbanner">
   %path;
  </div>
  <div id="pagebody">
   <div id="sidebar"> <!-- Navigation Start -->
    %navigation;
   </div> <!-- sidebar -->
   <div id="content">
    %content;
   </div>
   <div class="clear">&nbsp;</div>
  </div> <!-- pagebody -->
  <div id="footer">
   &copy; 2005-10 Andrea Vedaldi and Brian Fulkerson
  </div> <!-- footer -->

  <!-- Google Analytics Begins -->
  <script type="text/javascript">
   //<![CDATA[
    var localre = /vlfeat.org/;
    if(document.location.host.search(localre) != -1)
    {
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   }
   //]]>
  </script>
  <script type="text/javascript">
    //<![CDATA[
    var localre = /vlfeat.org/;
    if(document.location.host.search(localre) != -1)
    {

   try {
   var pageTracker = _gat._getTracker("UA-4936091-2");
   pageTracker._trackPageview();
   } catch(err) {}

   }
   //]]>
  </script>
  <!-- Google Analytics Ends -->
 </body>
</html>

 </template>

 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
 <!-- Site contents                                                -->
 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

 <page id="home" name="index" title="Home"> <include src="index.html"/>
  <pagestyle>
   #content p.widePar {
     padding-right: 1em ;
   }
  </pagestyle>
  <page id="about" name="about" title="About"><include src="about.html"/></page>
 </page>
 <page id="download" name="download" title="Download"><include src="download.html"/>
  <page id="install.matlab" name="install-matlab" title="MATLAB install">
   <include src="install-matlab.html"/>
  </page>
  <page id="install.shell" name="install-shell" title="Shell install">
   <include src="install-shell.html"/>
  </page>
  <page id="install.c" name="install-c" title="C library install">
   <include src="install-c.html"/>
   <page id="xcode" name="xcode" title="Xcode"><include src="using-xcode.html"/></page>
   <page id="vsexpress" name="vsexpress" title="Visual C++"><include src="using-vsexpress.html"/></page>
   <page id="gcc" name="gcc" title="g++"><include src="using-gcc.html"/></page>
  </page>
  <page id="compiling" name="compiling" title="Compiling">
   <include src="compiling.html"/>
  </page>
 </page>

 <page id="doc" name="doc" title="Documentation">

  <include src="doc.html"/>

  <dir name="mdoc">
   <page id="mdoc" name="mdoc" title="Matlab API">
    <include src="doc/toolbox-src/mdoc.html"/>
    <include src="doc/toolbox-src/mdoc.xml"/>
   </page>
  </dir>

  <dir name="api">
   <page id="api" name="index" title="C API">
    <div class="doxygen">
     <!-- Doc Here -->
    </div>
   </page>
  </dir>

  <dir name="man">
   <page id="man" name="man" title="Man pages">
    <p>These man pages describe VLFeat command line utilities.</p>
    <include src="doc/man-src/man.html"/>
    <include src="doc/man-src/man.xml"/>
   </page>
  </dir>

 </page>

 <dir name="overview">
  <page id="tut" name="tut" title="Tutorials">
   <include src="tutorials.html"/>
   <page id="tut.sift" name="sift" title="SIFT"> <include src="sift.html"/></page>
   <page id="tut.dsift" name="dsift" title="DSIFT/PHOW"> <include src="dsift.html"/></page>
   <page id="tut.mser" name="mser" title="MSER"> <include src="mser.html"/></page>
   <page id="tut.ikm" name="ikm" title="IKM">  <include src="ikm.html"/></page>
   <page id="tut.hikm" name="hikm" title="HIKM"> <include src="hikm.html"/></page>
   <page id="tut.aib"  name="aib" title="AIB">  <include src="aib.html"/></page>
   <page id="tut.qs" name="quickshift" title="Quick shift">  <include src="quickshift.html"/></page>
   <page id="tut.kdtree"  name="kdtree" title="kd-tree">  <include src="kdtree.html"/></page>
   <page id="tut.imdisttf" name="imdisttf" title="Distance transf.">  <include src="imdisttf.html"/></page>
   <page id="tut.utils" name="utils" title="Utils"> <include src="utils.html"/></page>
  </page>
 </dir>

 <dir name="applications">
   <page id="apps" name="apps" title="Applications">
     <include src="apps.html"/>
     <page id="apps.caltech-101.code" name="caltech-101-code" title="phow_caltech101.m" hide="yes">
       <pre><include src="../apps/phow_caltech101.m" type="text"/></pre>
     </page>
     <page id="apps.sift-mosaic.code" name="sift-mosaic-code" title="sift_mosaic.m" hide="yes">
       <pre><include src="../apps/sift_mosaic.m" type="text"/></pre>
     </page>

   </page>
 </dir>

 <!-- Generate an additional page to hold search results -->
 <page name="search" id="search" title="Search" hide="yes">
  <!-- Google CSE Search Results Begins -->
  <div id="cse-search-results"></div>
  <script type="text/javascript">
   //<![CDATA[
   var googleSearchIframeName = "cse-search-results";
   var googleSearchFormName = "cse-search-box";
   var googleSearchFrameWidth = 600;
   var googleSearchDomain = "www.google.com";
   var googleSearchPath = "/cse";
   //]]>
  </script>
  <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
  <!-- Google CSE Search Results Ends -->
 </page>

</site>
